$colorWhite: #fff;
$colorDarkGray: #454751;
$fontFamily: 'Noto Sans',Arial,sans-serif;
$margin: 15px;

/*
* Standard styles
*/

* {
  box-sizing: border-box;
}

html {
  font: normal 14px $fontFamily;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn {
  background: #eee;
  border: none;
  font-size: 11px;
  height: 44px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &_full-width {
    width: 100%;
  }
}

.input {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  font-size: 11px;
  height: 44px;
  letter-spacing: 2px;
  margin-bottom: 14px;
  outline: none;
  padding-left: 15px;
  text-transform: uppercase;
  width: 100%;
}

textarea.input {
  padding-top: 15px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


.section-block {
  margin: 0 auto;
  max-width: 960px;
}

/* Contacts */
.contacts {
  &__block-form {
    padding: 0 15px 25px 15px;
  }

  &__division {
    padding: 15px 0;
    text-align: center;
  }

  &__info {
    span {
      display: block;
      height: 10px;
    }
  }
}
/* End contacts */

.curtain {
  background: rgba(0,0,0,.5);
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Examples */
.examples {
  width: 100%;

  &__block {
    height: 300px;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    background-position: center;
    background-size: auto 107%;
    height: 100%;
    margin: 0;
    transition: .5s transform;
    width: 100%;

    &:hover {
      transform: scale(1.2);
    }
  }
}
/* End examples */

/* Header */
.header {
  height: 100%;
  min-height: 219px;
  position: relative;

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 150%;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__contact-info {
    color: $colorWhite;
    font: italic 14px $fontFamily;
    text-align: center;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    width: 120px;

    img {
      width: inherit;
    }
  }

  &__main-nav {
    background: #282828;
    height: 100%;
    position: fixed;
    right: -260px;
    width: 260px;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 15px 15px;
    }

    li:hover .sub-menu {
      display: block;
    }

    a {
      color: $colorWhite;
    }
  }

  &__mobile-btn {
    color: $colorWhite;
    float: right;
    margin: $margin;
  }

  &__title-logo {
    color: $colorWhite;
    font: bold 12px $fontFamily;
    text-align: center;
    vertical-align: middle;

    h1 {
      font-size: 16px;
      margin: 6px 0 6px 0;
    }
  }
}

.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 15px;

  & li {
    float: none !important;
    padding: 0 0 15px 0 !important;
  }
}

/* End header */

/* Features */
.features {
  padding: 15px;
  width: 100%;

  &__border {
    &:after {
      border-bottom: 2px solid transparent;
      content: "";
      display: block;
      height: 0;
      margin: 0 auto;
      width: 50%;
    }

    &_blue {
      &:after {
        border-color: #3eb3de;
      }
    }

    &_gray {
      &:after {
        border-color: grey;
      }
    }

    &_orange {
      &:after {
        border-color: orange;
      }
    }
  }

  &__column {
    margin: 0 15px;
  }

  &__description {
    text-align: justify;
  }

  &__title {
    text-align: center;

    h3 {
      color: $colorDarkGray;
      font: normal 16px $fontFamily;
      margin: 0;
      padding: 15px 0;
      text-transform: uppercase;
    }
  }

  &__icon {
    background: url(../img/features-icon.png);
    margin: 0 auto;
  }

  &__icon_camera {
    height: 150px;
    width: 160px;
  }

  &__icon_microphone {
    background-position: -180px 0;
    height: 156px;
    width: 82px;
  }

  &__icon_notebook {
    background-position: -335px 0;
    height: 156px;
    width: 138px;
  }

  &__image {
    font-size: 80px;
    margin: 0;
    text-align: center;
  }
}
/* End features */

/* Open menu */
.open-menu {
  position: absolute;
  right: 260px;
  width: 100%;

  .header__main-nav {
    right: 0;
  }
}
/* End open menu */

/* Reviews */
.reviews {
  background: #272727;
  min-height: 280px;
  padding: 30px 0;

  &__avatar {
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%;

    img {
      border: 2px solid #f3eded;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      width: 50px !important;
    }
  }

  &__block {
    background: #fff;
    border: 2px solid #f3eded;
    margin: 0 auto;
    min-height: 150px;
    position: relative;
    width: 70%;
  }

  &__description {
    padding: 15px;
    text-align: justify;
  }

  &__name {
    h3 {
      border-bottom: 1px solid #f04124;
      color: $colorDarkGray;
      margin: 10px 0 6px 0;
      padding-bottom: 5px;
    }
  }

  & .item {
    padding-top: 40px;
  }
}
/* End reviews */

/* Section title */
.section-title {
  text-align: center;

  h2 {
    color: $colorDarkGray;
  }

  &_white {
    h2 {
      color: $colorWhite;
    }
  }
}
/* End section title */

/* users */
.users {
  &__pic {
    cursor: pointer;
    margin: 16px auto;
    max-width: 200px;
    position: relative;

    &:hover {
      .users__name {
        opacity: 1;
      }
    }
  }

  &__name {
    background: rgba(0,0,0,.5);
    color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: .7s opacity;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
/* End users */

/* user */
.user {

  &__pic {
    text-align: center;
  }

  &__description {
    padding: 0 15px;
    text-align: justify;
  }

  &__list-info {
    list-style: none;
    margin: 0;
    padding: 0 15px;
  }
}
/* End user */

/* pagination */
.pagination {
  text-align: center;
  width: 100%;

  &__list {
    display: inline-block;
    list-style: none;
    padding: 0;

    &_active {
      font-weight: bold;
    }

    & li {
      float: left;
      padding: 0 15px;
    }
  }
}
/* End pagination */

/* price */
.price {
  padding: 15px;
  text-align: center;

  &__dark {
    background: #252525;
    color: #fff;
  }

  &__image {
    margin: 0;
  }

  &__description {
    & p {
      text-align: justify;
    }
  }

  &__desc-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    & li {
      margin: 5px 0;
    }
  }
}
/* End price */

/* video */
.video {
  max-width: 265px;
  margin: 16px auto;
  text-align: center;

  &__player {
    left: 50%;

    position: absolute;
    top: 50%;
  }

  &__modal {
    background: rgba(0,0,0,.3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__modal_active {
    display: block;
  }

  &__preview {
    margin: 0;

    & img {
      border-radius: 2px;
      cursor: pointer;
      max-width: 265px;
    }
  }
}
/* End video */

/*
* Start media queries
*/
@import "inc/media.scss";