.i-btn{
 display: inline-block;
 border:1px solid #bfbfbf;
 color: #3B3937;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Arial;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 0px 40px;
 text-shadow: 0 1px 0 #fff;
 background-image: linear-gradient(to top, #FFFFFF, #F8F8F8);
 background-color: #FFFFFF;
}
.i-btn:hover, .i-btn:active{
 border:1px solid #8c8c8c;
 color: #8c8c8c;
 box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 background-color: #f2f2f2;
}