/*
* Standard styles
*/
* {
  box-sizing: border-box; }

html {
  font: normal 14px "Noto Sans", Arial, sans-serif;
  overflow-x: hidden; }

/* Кастомные стили Ильдара */
a {
  text-decoration: none; }
.news a{
    color: #454751;
}
.prev-next-links{
    text-align: center;
}

.btn {
  background: #eee;
  border: none;
  font-size: 11px;
  height: 44px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .btn_full-width {
    width: 100%; }

.input {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  font-size: 11px;
  height: 44px;
  letter-spacing: 2px;
  margin-bottom: 14px;
  outline: none;
  padding-left: 15px;
  text-transform: uppercase;
  width: 100%; }

textarea.input {
  padding-top: 15px; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.section-block {
  margin: 0 auto;
  max-width: 960px; }

.section-block a {
  color: #454751 }

.section-block a:hover {
  color: #454751 }

/* Contacts */
.contacts__block-form {
  padding: 0 15px 25px 15px; }

.contacts__division {
  padding: 15px 0;
  text-align: center; }

.contacts__info span {
  display: block;
  height: 10px; }

/* End contacts */
.curtain {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%; }

/* Examples */
.examples {
  width: 100%; }
  .examples__block {
    height: 300px;
    overflow: hidden;
    width: 100%; }
  .examples__image {
    background-position: center;
    background-size: auto 107%;
    height: 100%;
    margin: 0;
    transition: .5s transform;
    width: 100%; }
    .examples__image:hover {
      transform: scale(1.2); }

/* End examples */
/* Header */
.header {
  height: 100%;
  min-height: 219px;
  position: relative; }
  .header__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 150%;
    height: 100%;
    position: absolute;
    width: 100%; }
  .header__contact-info {
    color: #fff;
    font: italic 14px "Noto Sans", Arial, sans-serif;
    text-align: center; }
  .header__logo {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    width: 120px; }
    .header__logo img {
      width: inherit; }
  .header__main-nav {
    background: #282828;
    height: 100%;
    position: fixed;
    right: -260px;
    width: 260px; }
  .header__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header__menu li {
      padding: 15px 15px; }
    .header__menu li:hover .sub-menu {
      display: block; }
    .header__menu a {
      color: #fff; }
  .header__mobile-btn {
    color: #fff;
    float: right;
    margin: 15px; }
  .header__title-logo {
    color: #fff;
    font: bold 12px "Noto Sans", Arial, sans-serif;
    text-align: center;
    vertical-align: middle; }
    .header__title-logo h1 {
      font-size: 16px;
      margin: 6px 0 6px 0; }

.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 15px; }
  .sub-menu li {
    float: none !important;
    padding: 0 0 15px 0 !important; }

/* End header */
/* Features */
.features {
  padding: 15px;
  width: 100%; }
  .features__border:after {
    border-bottom: 2px solid transparent;
    content: "";
    display: block;
    height: 0;
    margin: 0 auto;
    width: 50%; }
  .features__border_blue:after {
    border-color: #3eb3de; }
  .features__border_gray:after {
    border-color: grey; }
  .features__border_orange:after {
    border-color: orange; }
  .features__column {
    margin: 0 15px; }
  .features__description {
    text-align: center; }
  .features__title {
    text-align: center; }
    .features__title h3 {
      color: #454751;
      font: normal 16px "Noto Sans", Arial, sans-serif;
      margin: 0;
      padding: 15px 0;
      text-transform: uppercase; }
  .features__icon {
    /*background: url(../img/features-icon.png);*/
    margin: 0 auto; }
  .features__icon_camera {
    height: 150px;
    width: 160px; }
  .features__icon_microphone {
    background-position: -180px 0;
    height: 156px;
    width: 82px; }
  .features__icon_notebook {
    background-position: -335px 0;
    height: 156px;
    width: 138px; }
  .features__image {
    font-size: 80px;
    margin: 0;
    text-align: center; }

.news-image{
    display: inline-block;
    height: 160px;
    width: 160px;
    background-size: cover;
}

/* End features */
/* Open menu */
.open-menu {
  position: absolute;
  right: 260px;
  width: 100%; }
  .open-menu .header__main-nav {
    right: 0; }

/* End open menu */
/* Reviews */
.reviews {
  background: #272727;
  min-height: 280px;
  padding: 30px 0; }
  .reviews__avatar {
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%; }
    .reviews__avatar img {
      border: 2px solid #f3eded;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      width: 50px !important; }
  .reviews__block {
    background: #fff;
    border: 2px solid #f3eded;
    margin: 0 auto;
    min-height: 150px;
    position: relative;
    width: 70%; }
  .reviews__description {
    padding: 15px;
    text-align: justify; }
  .reviews__name h3 {
    border-bottom: 1px solid #f04124;
    color: #454751;
    margin: 10px 0 6px 0;
    padding-bottom: 5px; }
  .reviews .item {
    padding-top: 40px; }

/* End reviews */
/* Section title */
.section-title {
  text-align: center; }
  .section-title h2 {
    color: #454751; }
  .section-title_white h2 {
    color: #fff; }

/* End section title */
/* users */
.users__pic {
  cursor: pointer;
  margin: 16px auto;
  max-width: 200px;
  position: relative; }
  .users__pic:hover .users__name {
    opacity: 1; }

.users__name {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: .7s opacity;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%; }

/* End users */
/* user */
.user__pic {
  text-align: center; }

.user__description {
  padding: 0 15px;
  text-align: justify; }

.user__list-info {
  list-style: none;
  margin: 0;
  padding: 0 15px; }

/* End user */
/* pagination */
.pagination {
  text-align: center;
  width: 100%; }
  .pagination__list {
    display: inline-block;
    list-style: none;
    padding: 0; }
    .pagination__list_active {
      font-weight: bold; }
    .pagination__list li {
      float: left;
      padding: 0 15px; }

/* End pagination */
/* price */
.price {
  padding: 15px;
  text-align: center; }
  .price__dark {
    background: #252525;
    color: #fff; }
  .price__image {
    margin: 0; }
  .price__description p {
    text-align: justify; }
  .price__desc-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .price__desc-list li {
      margin: 5px 0; }

/* End price */
/* video */
.video {
  max-width: 265px;
  margin: 16px auto;
  text-align: center; }
  .video__player {
    left: 50%;
    position: absolute;
    top: 50%; }
  .video__modal {
    background: rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
  .video__modal_active {
    display: block; }
  .video__preview {
    margin: 0; }
    .video__preview img {
      border-radius: 2px;
      cursor: pointer;
      max-width: 265px; }

/* End video */
/*
* Start media queries
*/
@media screen and (min-width: 480px) {
  /* Examples */
  .examples__block {
    height: 350px; }
  .examples__image {
    background-size: auto 150%; }
  /* End examples */
  /* Header */
  .header__background {
    background-size: 100% auto; }
  /* End header */
  /* End min-width 480px */ }

@media screen and (min-width: 768px) {
  /* Examples */
  .examples__block {
    float: left;
    width: 50%; }
  /* End examples */
  /* Header */
  .header {
    min-height: 300px; }
  /* End header */
  /* video */
  .video {
    display: inline-block;
    max-width: 50%;
    width: 49%; }
  /* End video */
  /* users */
  .users__block {
    display: inline-block;
    width: 49%; }
  /* End users */
  /* user */
  .user__list-info {
    text-align: left; }
  .user__pic {
    float: left; }
  /* End user */
  /* price */
  .price__image {
    display: inline-block;
    width: 35%; }
  .price__description {
    display: inline-block;
    vertical-align: top;
    width: 60%; }
  /* End price */ }

@media screen and (min-width: 960px) {
  /* Contacts */
  .contacts__block-form {
    float: right;
    width: 50%; }
  .contacts__map {
    float: left;
    width: 50%; }
  /* End contacts */
  /* Examples */
  .examples {
    transform: rotateX(90deg);
    transition: 1s transform; }
    .examples_active {
      transform: rotateX(0deg); }
    .examples__block {
      width: 33.33333333333333%; }
    .examples__image {
      background-size: auto 100%; }
  /* End examples */
  /* Examples */
  .features {
    transform: rotateX(90deg);
    transition: 1s transform; }
    .features_active {
      transform: rotateX(0deg); }
  /* End examples */
  /* Header */
  .header {
    height: 600px; }
    .header__background {
      background-position: center 40%;
      background-size: 120% auto; }
    .header__main-nav {
      background: none;
      height: 44px;
      position: relative;
      right: 0;
      width: 100%; }
    .header__menu {
      float: right; }
      .header__menu li {
        float: left;
        padding: 15px 15px; }
    .header__mobile-btn {
      display: none; }
    .header__title-logo {
      padding-top: 90px; }
      .header__title-logo h1 {
        font-size: 30px; }
  /* End header */
  /* Reviews */
  .reviews {
    opacity: 0;
    transform: translateX(800px);
    transition: 1s all; }
    .reviews_active {
      opacity: 1;
      transform: translateX(0); }
  /* End reviews */
  /* video */
  .video {
    display: inline-block;
    max-width: 33%;
    width: 33%; }
  /* End video */
  /* users */
  .users__block {
    display: inline-block;
    max-width: 33%;
    width: 33%; }
  /* End users */ }

@media screen and (min-width: 1200px) {
  /* Examples */
  .examples__block {
    width: 20%; }
  .examples__image {
    background-size: auto 100%; }
  /* End examples */ }
