@media screen and (min-width: 480px) {
  /* Examples */
  .examples {
    &__block {
      height: 350px;
    }

    &__image {
      background-size: auto 150%;
    }
  }
  /* End examples */

  /* Header */
  .header {
    &__background {
      background-size: 100% auto;
    }
  }
  /* End header */


  /* End min-width 480px */
}

@media screen and (min-width: 768px) {
  /* Examples */
  .examples {
    &__block {
      float: left;
      width: 50%;
    }
  }
  /* End examples */

  /* Header */
  .header {
    min-height: 300px;
  }
  /* End header */

  /* video */
  .video {
    display: inline-block;
    max-width: 50%;
    width: 49%;
  }
  /* End video */

  /* users */
  .users__block {
    display: inline-block;
    width: 49%;
  }
  /* End users */

  /* user */
  .user {

    &__list-info {
      text-align: left;
    }

    &__pic {
      float: left;
    }
  }
  /* End user */

  /* price */
  .price {
    &__image {
      display: inline-block;
      width: 35%;
    }

    &__description {
      display: inline-block;
      vertical-align: top;
      width: 60%;
    }
  }
  /* End price */
}

@media screen and (min-width: 960px) {
  /* Contacts */
  .contacts {
    &__block-form {
      float: right;
      width: 50%;
    }

    &__map {
      float: left;
      width: 50%;
    }
  }
  /* End contacts */

  /* Examples */
  .examples {
    transform: rotateX(90deg);
    transition: 1s transform;

    &_active {
      transform: rotateX(0deg);
    }

    &__block {
      width: 33.33333333333333%;
    }

    &__image {
      background-size: auto 100%;
    }
  }
  /* End examples */

  /* Examples */
  .features {
    transform: rotateX(90deg);
    transition: 1s transform;

    &_active {
      transform: rotateX(0deg);
    }
  }
  /* End examples */

  /* Header */
  .header {
    height: 600px;

    &__background {
      background-position: center 40%;
      background-size: 120% auto;
    }

    &__main-nav {
      background: none;
      height: 44px;
      position: relative;
      right: 0;
      width: 100%;
    }

    &__menu {
      float: right;

      li {
        float: left;
        padding: 15px 15px;
      }
    }

    &__mobile-btn {
      display: none;
    }

    &__title-logo {
      padding-top: 90px;

      h1 {
        font-size: 30px;
      }
    }
  }
  /* End header */

  /* Reviews */
  .reviews {
    opacity: 0;
    transform: translateX(800px);
    transition: 1s all;

    &_active {
      opacity: 1;
      transform: translateX(0);
    }
  }
  /* End reviews */

  /* video */
  .video {
    display: inline-block;
    max-width: 33%;
    width: 33%;
  }
  /* End video */

  /* users */
  .users {
    &__block {
      display: inline-block;
      max-width: 33%;
      width: 33%;
    }
  }
  /* End users */
}

@media screen and (min-width: 1200px){
  /* Examples */
  .examples {
    &__block {
      width: 20%;
    }

    &__image {
      background-size: auto 100%;
    }
  }
  /* End examples */
}