@media screen and (min-width: 480px) {
  /* Examples */
  .examples__block {
    height: 350px; }
  .examples__image {
    background-size: auto 150%; }
  /* End examples */
  /* Header */
  .header__background {
    background-size: 100% auto; }
  /* End header */
  /* End min-width 480px */ }

@media screen and (min-width: 768px) {
  /* Examples */
  .examples__block {
    float: left;
    width: 50%; }
  /* End examples */
  /* Header */
  .header {
    min-height: 300px; }
  /* End header */
  /* video */
  .video {
    display: inline-block;
    max-width: 50%;
    width: 49%; }
  /* End video */
  /* users */
  .users__block {
    display: inline-block;
    width: 49%; }
  /* End users */
  /* user */
  .user__list-info {
    text-align: left; }
  .user__pic {
    float: left; }
  /* End user */
  /* price */
  .price__image {
    display: inline-block;
    width: 35%; }
  .price__description {
    display: inline-block;
    vertical-align: top;
    width: 60%; }
  /* End price */ }

@media screen and (min-width: 960px) {
  /* Contacts */
  .contacts__block-form {
    float: right;
    width: 50%; }
  .contacts__map {
    float: left;
    width: 50%; }
  /* End contacts */
  /* Examples */
  .examples {
    transform: rotateX(90deg);
    transition: 1s transform; }
    .examples_active {
      transform: rotateX(0deg); }
    .examples__block {
      width: 33.33333333333333%; }
    .examples__image {
      background-size: auto 100%; }
  /* End examples */
  /* Examples */
  .features {
    transform: rotateX(90deg);
    transition: 1s transform; }
    .features_active {
      transform: rotateX(0deg); }
  /* End examples */
  /* Header */
  .header {
    height: 600px; }
    .header__background {
      background-position: center 40%;
      background-size: 120% auto; }
    .header__main-nav {
      background: none;
      height: 44px;
      position: relative;
      right: 0;
      width: 100%; }
    .header__menu {
      float: right; }
      .header__menu li {
        float: left;
        padding: 15px 15px; }
    .header__mobile-btn {
      display: none; }
    .header__title-logo {
      padding-top: 90px; }
      .header__title-logo h1 {
        font-size: 30px; }
  /* End header */
  /* Reviews */
  .reviews {
    opacity: 0;
    transform: translateX(800px);
    transition: 1s all; }
    .reviews_active {
      opacity: 1;
      transform: translateX(0); }
  /* End reviews */
  /* video */
  .video {
    display: inline-block;
    max-width: 33%;
    width: 33%; }
  /* End video */
  /* users */
  .users__block {
    display: inline-block;
    max-width: 33%;
    width: 33%; }
  /* End users */ }

@media screen and (min-width: 1200px) {
  /* Examples */
  .examples__block {
    width: 20%; }
  .examples__image {
    background-size: auto 100%; }
  /* End examples */ }
