@media screen and (min-width: 480px) {
  /* Examples */
  .examples__block {
    height: 350px; }
  .examples__image {
    background-size: auto 150%; }
  /* End examples */
  /* Header */
  .header__background {
    background-size: 100% auto; }
  /* End header */
  /* End min-width 480px */ }

@media screen and (min-width: 768px) {
  /* Examples */
  .examples__block {
    float: left;
    width: 50%; }
  /* End examples */
  /* Header */
  .header {
    min-height: 300px; }
  /* End header */ }

@media screen and (min-width: 960px) {
  /* Contacts */
  .contacts__block-form {
    float: right;
    width: 50%; }
  .contacts__map {
    float: left;
    width: 50%; }
  /* End contacts */
  /* Examples */
  .examples__block {
    width: 33.33333333333333%; }
  .examples__image {
    background-size: auto 100%; }
  /* End examples */
  /* Header */
  .header {
    height: 600px; }
    .header__background {
      background-size: 120% auto; }
    .header__main-nav {
      background: none;
      height: 44px;
      position: relative;
      right: 0;
      width: 100%; }
    .header__menu {
      float: right; }
      .header__menu li {
        float: left;
        padding: 15px 15px; }
    .header__mobile-btn {
      display: none; }
    .header__title-logo h1 {
      font-size: 30px; }
  /* End header */ }

@media screen and (min-width: 1200px) {
  /* Examples */
  .examples__block {
    width: 20%; }
  .examples__image {
    background-size: auto 100%; }
  /* End examples */ }
